POSTGRES_DB=guacamole_db
POSTGRES_USER=guacamole_user
POSTGRES_PASSWORD=ChangeMe_Postgres_123!

WEBAPP_CONTEXT=guacamole
PROXY_ALLOWED_IPS_REGEX=172\\.30\\.0\\.10

SAML_ENABLED=true
SAML_IDP_METADATA_URL=https://adfs.poc.local/FederationMetadata/2007-06/FederationMetadata.xml
SAML_ENTITY_ID=https://guacamole.poc.local/guacamole/
SAML_CALLBACK_URL=https://guacamole.poc.local/guacamole/
SAML_GROUP_ATTRIBUTE=groups
SAML_STRICT=false
SAML_COMPRESS_REQUEST=true
SAML_COMPRESS_RESPONSE=true
SAML_DEBUG=true

POSTGRESQL_AUTO_CREATE_ACCOUNTS=true
POSTGRESQL_TRACK_EXTERNAL_CONNECTION_HISTORY=true

EXTENSION_PRIORITY=saml, postgresql
RECORDING_ENABLED=true
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=14
